@{
    ViewData["Title"] = "ResultadoSoma";
}

<div class="text-center">
    <h1 class="display-4">Resultado da soma</h1>
    <p>A soma de @ViewBag.Numero1 + @ViewBag.Numero2 é igual a @ViewBag.resultado</p>
</div>