@{
    ViewData["Title"] = "ResultadoDivisao";
}

<div class="text-center">
    <h1 class="display-4">Resultado da divisão</h1>
    <p>A divisão de @ViewBag.Numero1 / @ViewBag.Numero2 é igual a @ViewBag.resultado</p>
</div>